cnocr==2.2.2.3
comtypes==1.1.11
fitz==0.0.1.dev2
Markdown==3.2.2
mediapipe==0.8.6.2
numpy==1.21.6
opencv_contrib_python==4.7.0.72
opencv_python==4.5.3.56
pdf2docx==0.4.5
pdfkit==0.6.1
protobuf==3.19.0
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycaw==20181226
pydub==0.25.1
pymdown_extensions==8.0.1
PyQt5==5.15.9
PyQt5_sip==12.8.1
PySimpleGUI==4.29.0
python_markdown_math==0.7
pywin32==228
Requests==2.31.0
screen_brightness_control==0.9.0
websocket_client==0.57.0
